.body {
  font-size: 60%;
}

/**
 * Fonts.
 */
@font-face {
  font-family: "SFNewRepublic";
  src: url("./SFNewRepublic.ttf");
}

@font-face {
  font-family: "Corbert";
  src: url("./Corbert-Regular.otf");
}

@font-face {
  font-family: "vtbullet";
  src: url("./vtbullet.ttf");
}

/*  yellow    #b58900  3/3 yellow   136 #af8700 
    orange    #cb4b16  9/3 brred    166 #d75f00 
    red       #dc322f  1/1 red      160 #d70000 
    magenta   #d33682  5/5 magenta  125 #af005f 
    violet    #6c71c4 13/5 brmagenta 61 #5f5faf 
    blue      #268bd2  4/4 blue      33 #0087ff 
    cyan      #2aa198  6/6 cyan      37 #00afaf 
    green     #859900  2/2 green     64 #5f8700 
*/

/**
 * Footnote (the header).
 */
.footnote {
  font-family: "vtbullet", "Helvetica", sans-serif;
  font-size: 5em;
  padding: 2% 10% 0;
  color: #222;
  line-height: 1em;
  /*background-color: #b58900;
  background-color: #1ec1ac;*/
}

.footnote.small {
  padding-top: 1%;
  color: #b58900;
  font-size: 2.5em;
  font-weight: 700;
}

/**
 * Text area.
 */
.asterisk {
  font-family: "Corbert", "Helvetica", sans-serif;
  font-size: 4.5em;
  position: absolute;
  left: 4%;
  top: 88%;
  width: 9%;
  color: #1ec1ac;
}

.text {
  font-family: "Corbert", sans-serif;
  font-size: 1.5em;
  position: absolute;
  top: 90%;
  margin: 0 10%;
}

.text a {
  font-weight: 200;
  text-decoration: none;
}

.text .espanol a {
  color: #222;
}

.text .english a {
  color: #b58900;
  /*color: #002EB8;*/
}

.text .container:after {
  content: "___";
}

.post-date {
  font-family: "SFNewRepublic", "Castorgate", sans-serif;
  font-size: 0.5em;
  color: #888;
  float: right;
}

/**
 * Navigation sidebar.
 */
.navigation {
  float: right;
  /*position: fixed;*/
  font-family: "SFNewRepublic", "Castorgate", sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  width: 3em;
}

.navigation a {
  text-decoration: none;
  color: #1ec1ac;
}

.navigation a .english{
  /*color: #1ec1ac;*/
  color: #b58900;
}

.navigation a .espanol {
  text-decoration: none;
  /*color: #1ec1ac;*/
  color: #222;
}

.navigation a:hover {
  text-decoration: none;
  color: #888;
}

.nav-item {
  padding-top: 1em;
  font-weight: 700;
}

.contact {
  width: 2.8em;
  height: 2.5em;
  float: left;
}

/**
 * Not used.
 *
.square-asterisk {
  font-size: 30px;
  position: relative;
  top: -44px;
}

.monospace {
  font-family: monospace; font-size: 16px;
}

@font-face {
  font-family: "Pseudo";
  src: url("./Pseudo.ttf");
}

@font-face {
  font-family: "Justus-Roman";
  src: url("./Justus-Roman.ttf");
}

@font-face {
  font-family: "Castorgate";
  src: url("./CASTOR__.ttf");
}
*/
